pkgbase = linux-zen-selinux
	pkgver = 4.5.4
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.5.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.5.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.5.4.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.5.4.sign
	source = http://pkgbuild.com/~heftig/zen-patches/zen-4.5.4-0e6f3784431a3c624eaaa00217de426c470e741d.diff.xz
	source = http://pkgbuild.com/~heftig/zen-patches/zen-4.5.4-0e6f3784431a3c624eaaa00217de426c470e741d.diff.sign
	source = config
	source = config.x86_64
	source = linux.preset
	source = change-default-console-loglevel.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 8218F88849AAC522E94CF470A5E9288C4FA415FA
	sha256sums = a40defb401e01b37d6b8c8ad5c1bbab665be6ac6310cdeed59950c96b31a519c
	sha256sums = SKIP
	sha256sums = 6a9cfe691ac77346c48b7f83375a1880ebb379594de1000acad45da45d711e42
	sha256sums = SKIP
	sha256sums = afb1e305fde0a46615634850a22be594cdc28891c6dbdf0321524b06c64fe52b
	sha256sums = SKIP
	sha256sums = 19def9d047de02a089aaf97664a903fce5c339a684c0fe506e85a69f6ac237d8
	sha256sums = 0b4e0d77e12f81ac6ab2c23ea49392992c20d0c7fc447fca096430392b92cde9
	sha256sums = efa2ee0d50d96c49e9ced4c66eeade4fe4470066d6004721d282a40180dc024b
	sha256sums = 1256b241cd477b265a3c2d64bdc19ffe3c9bbcee82ea3994c590c2c76e767d99

pkgname = linux-zen-selinux
	pkgdesc = The Linux-zen-selinux kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-zen-selinux.preset

pkgname = linux-zen-selinux-headers
	pkgdesc = Header files and scripts for building modules for Linux-zen-selinux kernel

pkgname = linux-zen-selinux-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-zen-selinux kernel

