pkgbase = linux-zen-selinux
	pkgver = 4.7.5
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.7.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.7.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.7.5.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.7.5.sign
	source = http://pkgbuild.com/~heftig/zen-patches/zen-4.7.5-ab3b46a5d9cc0b216081d354a42523f7d3ed3dd1.diff.xz
	source = http://pkgbuild.com/~heftig/zen-patches/zen-4.7.5-ab3b46a5d9cc0b216081d354a42523f7d3ed3dd1.diff.sign
	source = config
	source = config.x86_64
	source = linux.preset
	source = change-default-console-loglevel.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 8218F88849AAC522E94CF470A5E9288C4FA415FA
	sha256sums = 5190c3d1209aeda04168145bf50569dc0984f80467159b1dc50ad731e3285f10
	sha256sums = SKIP
	sha256sums = 46be737415406fd06c1067d1280a4a435f8b0a76d70f5d31858964b41367cc8e
	sha256sums = SKIP
	sha256sums = 480670e216e630306e671ec3954a26820d5e5e5d6344f4d5528fcec032d42411
	sha256sums = SKIP
	sha256sums = 41b841b71cd4e046a8f62a203117b7b98a2d91760a3d012aaf05d7385c1ff4b2
	sha256sums = 5d41ca03d3578ddb1b6513cedfa004ad60824afc3c0da28a11c298ebc08710e8
	sha256sums = efa2ee0d50d96c49e9ced4c66eeade4fe4470066d6004721d282a40180dc024b
	sha256sums = 1256b241cd477b265a3c2d64bdc19ffe3c9bbcee82ea3994c590c2c76e767d99

pkgname = linux-zen-selinux
	pkgdesc = The Linux-zen-selinux kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-zen-selinux.preset

pkgname = linux-zen-selinux-headers
	pkgdesc = Header files and scripts for building modules for Linux-zen-selinux kernel

pkgname = linux-zen-selinux-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-zen-selinux kernel

