pkgbase = linux-zen-selinux
	pkgver = 4.8.3
	pkgrel = 1
	url = https://github.com/zen-kernel/zen-kernel
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.8.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.8.tar.sign
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.8.3.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/patch-4.8.3.sign
	source = http://pkgbuild.com/~heftig/zen-patches/zen-4.8.3-51c248fb17a385481d27f1a93712b88c8a1704e5.diff.xz
	source = http://pkgbuild.com/~heftig/zen-patches/zen-4.8.3-51c248fb17a385481d27f1a93712b88c8a1704e5.diff.sign
	source = config
	source = config.x86_64
	source = linux.preset
	source = change-default-console-loglevel.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 8218F88849AAC522E94CF470A5E9288C4FA415FA
	sha256sums = 3e9150065f193d3d94bcf46a1fe9f033c7ef7122ab71d75a7fb5a2f0c9a7e11a
	sha256sums = SKIP
	sha256sums = 1482dd7bda0a3a82abcde20f24576a57287c462e8e732fe688ed37daf42468cb
	sha256sums = SKIP
	sha256sums = b20a8302f93c57c217dd2cd75e3bbe119c12b54ddb210cba677906241ac2fe6c
	sha256sums = SKIP
	sha256sums = bb54db2924c92002f8a5c25ece9f719bfd184485b0bad7e01623323111d7a8a9
	sha256sums = 9821072663d3f511a294e1002bd904123a2c1049d492d42218281667ceb4e436
	sha256sums = efa2ee0d50d96c49e9ced4c66eeade4fe4470066d6004721d282a40180dc024b
	sha256sums = 1256b241cd477b265a3c2d64bdc19ffe3c9bbcee82ea3994c590c2c76e767d99

pkgname = linux-zen-selinux
	pkgdesc = The Linux-zen-selinux kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-zen-selinux.preset

pkgname = linux-zen-selinux-headers
	pkgdesc = Header files and scripts for building modules for Linux-zen-selinux kernel

pkgname = linux-zen-selinux-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-zen-selinux kernel

